body {
  font-family: 'Sintony', sans-serif;
  text-align: center;
  margin: 0px;
  background-image: url("/images/bg1.jpg");
  background-size: 100% 100%;
  background-attachment: fixed;
  min-width: 600px;
}
img {
  image-rendering: -webkit-optimize-contrast;
}
button, 
input, 
textarea {
  font-family: sans-serif;
}
button:active, 
button:focus, 
textarea:focus,
p1:focus,
a:focus {
  outline: none;
}
a[disabled], 
button[disabled], 
#closeChangePass[disabled],
#closeDeleteAcc[disabled],
#nnXbtn[disabled] {
   pointer-events: none;
   cursor: default;
}
textarea[disabled] {
  color: #777;
  background-color: #fff;
}
.home {
  display: inline-block;
  vertical-align: top;
  width: 35%;
  margin: 10% 5%;
}
#homelogo {
  width: 70%;
  max-width: 400px;
}
#loginregister {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.9);
  border: 2px solid #fff;
  border-radius: 3px;
  margin-left: 0px;
  margin-right: 10%;
  margin-bottom: 0px;
  box-shadow: 0px 1px 2px #444;
}
.home button, 
input[type="button"], 
#add_note,
#confirmDeleteNote button {
  font-size: 0.9em;
  height: 2.6em;
  margin: 0.7em 0px 0px 0px;
  width: 45%;
  cursor: pointer;
  background-color: #00478a;
  border: 0px;
  border-radius: 2px;
  color: #fff;
  box-shadow: 0px 1px 1px #bbb;
}
.home button:hover, 
input[type="button"]:hover, 
#add_note:hover, 
#nnXbtn:hover, 
#profile button:hover,
#changePassForm input[type='button']:hover,
#psOKbtn:hover,
#adOKbtn:hover,
#confirmDeleteNote button:hover {
  background-color: #185895;
  background-color: rgba(0, 71, 138, 0.9);
}
#inactbtn {
  pointer-events: none;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0);
  border: 0px;
  color: #111;
  font-size: 1em;
  height: 2.4em;
  box-shadow: none;
}
form {
  margin: 1em 0em;
}
form p1, 
form p2 {
  color: #111;
  font-size: 0.9em;
  float: left;
  margin-left: 9%;
  margin-right: 9%;
}
form p2 {
  color: #A32003;
  font-size: 0.8em;
}
input {
  width: 80%;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0);
  font-size: 1em;
  padding: 0.3em 0.4em;
  margin-top: 0.3em;
  border: 0px;
  border-bottom: 1px solid #000;
}
input:focus {
  outline: none;
  border-color: #00478a;
}
input[type="button"] {
  width: 80%;
  margin-top: 0.5em;
  margin-bottom: 1em;
}
@media screen and (max-width: 900px) {
    .home {
      display: block;
      width: 80%;
      margin: 3% auto;
    }
    #loginregister {
      margin: 3% auto;
    }
    #homelogo {
      max-width: 300px;
    }
}
/*logged in*/
#header {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 3.2em;
  box-shadow: 0px 1px 2px #444;
}
#header_overlay {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 3.2em;
  position: absolute;
  top: 0;
}
#header_logo {
  height: 90%;
  float: left;
  margin: 0.2em 2em;
}
#hdright {
  height: 100%;
  float: right;
  margin-right: 1em;
}
#header button {
  height: 100%;
  cursor: pointer;
  border: 0px;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0);
  font-family: 'Sintony', sans-serif;
  font-size: 0.9em;
  padding: 0px 1.5em;
}
#header button:hover {
  color: #00478a;
  border-top: 1px solid #00478a;
  border-bottom: 1px solid #00478a;
}
#addFirstNote {
  cursor: pointer;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.9);
  width: 50%;
  margin: 0.5em auto;
  border-radius: 2px;
  padding: 2em 2em;
  box-shadow: 0px 1px 2px #444;
  display: none;
}
#addFirstNote:hover {
  background-color: #fff;
}
#plusSign {
  font-family: sans-serif;
  font-size: 1.5em;
  background-color: #fff;
  color: #999;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  line-height: 2em;
  margin: auto;
  box-shadow: 0px 1px 2px #999;
  transition: all 0.2s ease;
}
#popup,
#popup2,
#popup3 {
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.9);
}
#new_note, 
#confirmDeleteNote,
#aboutText {
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 3px;
  margin: 7% auto;
  width: 95%;
  max-width: 500px;
  box-shadow: 0px 1px 2px #777;
}
#aboutText {
  padding-bottom: 1.5em;
  padding-left: 2em;
  width: 90%;
  max-width: 600px;
  text-align: left;
}
#aboutText p1, 
#aboutText p2 {
  font-size: 0.9em;
  margin-right: 2em;
}
#aboutText p2 {
  margin-left: 0.5em;
}
#aboutText p3 {
  font-size: 0.9em;
  margin-left: 30%;
}
#aboutText img {
  height: 1.8em;
  margin-top: 0.7em;
  margin-bottom: -0.7em;
}
#aboutText a {
  color: #000;
}
#aboutText a:hover {
  color: #00478a;
}
#popup p1 {
  color: #111;
  font-size: 0.9em;
  float: left;
  margin-left: 13%;
  margin-top: 0.5em;
}
textarea {
  width: 75%;
  height: 7em;
  font-size: 1em;
  resize: none;
  margin: 0.5em auto;
  padding: 0.5em;
  border: 0;
  border-radius: 1px;
  box-shadow: 0px 1px 2px #444;
}
#add_note {
  width: 50%;
  height: 2.2em;
  margin: 1em auto 2.5em auto;
}
#nnXbtn,
#closeAbout{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  cursor: pointer;
  margin-top: -1em;
  margin-right: -1em;
  font-size: 1em;
  font-weight: bold;
  padding: 0.3em 0.6em;
  border: 2px solid #fff;
  background-color: #00478a;
  color: #fff;
  border-radius: 50%;
  box-shadow: -1px 2px 3px #777;
}
#nnXbtn:hover {
  background-color: #A32003;
}
#closeAbout:hover {
  background-color: #185895;;
}
#charNum {
  font-family: sans-serif;
  float: right;
  margin-right: 13%;
  font-size: 0.8em;
  color: #777;
}
#notes {
  padding: 0.5em;
}
.note {
  background-color: #fff;
  text-align: left;
  font-size: 0.9em;
  margin: 0.5em 5%;
  padding: 1.5em 2em;
  border-radius: 1px;
  overflow-wrap: break-word;
  display: none;
  box-shadow: 0px 1px 2px #444;
}
.rmvnote {
  float: right;
  cursor: pointer;
  margin-top: -1em;
  margin-right: -1em;
  border: 0px;
  background-color: #fff;
  color: #bbb;
  padding: 0px;
  font-size: 1.5em;
}
.rmvnote:hover {
  color: #A32003;
}
#confirmDeleteNote {
  padding: 2em;
  overflow-wrap: break-word;
  
}
#confirmDeleteNote button {
  height: 2.2em;
  font-size: 0.8em;
  width: 30%;
  margin: 2em 1em 0.5em 1em;
}
#confirmDeleteNote p1 {
  font-size: 0.9em;
  
}
#delNoteYes:hover {
  background-color: #A32003 !important;
}
.editBtn {
  cursor: pointer;
  float: right;
  border: 0px;
  border: 1px solid #bbb;
  border-radius: 2px;
  background-color: #fff;
  color: #999;
  font-size: 0.8em;
  padding: 1px 15px;
  margin-right: -2.2em;
  display: none;
}
@media screen and (-webkit-min-device-pixel-ratio:0) { 
    /* Safari and Chrome, if Chrome rule needed */
    .editBtn {
       padding: 2px 15px;
    }
}
.editBtn:hover {
  color: #00478a;
  border-color: #00478a;
}
.editingTA {
  width: 100%;
  height: 100%;
  margin: 0px;
}
.cancelEditBtn,
.saveEditBtn {
  display: none;
  color: #777;
  border-color: #777;
}
.saveEditBtn {
  margin-right: 0.5em;
}
p5 {
  float: right;
  font-size: 0.7em;
  color: #999;
  margin-right: 2em;
  margin-top: 0.2em;
  font-family: sans-serif;
}
p6 {
  float: right;
  display: none;
  margin-right: 2em;
  margin-bottom: 1em;
  font-size: 0.8em;
  color: #00478a;
  margin-top: 0.2em;
}
/* Profile */
#profile {
  width: 95%;
  max-width: 500px;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.9);
  margin: 2em auto;
  padding-top: 1.5em;
}
#prusern {
  margin-top: 0.5em;
}
#prnotess {
  margin-bottom: 0.5em; 
}
#profile button, 
#profile input[type="button"] {
  font-size: 0.8em;
  height: 2.4em;
  margin: 0em 0.7em 1.6em 0.7em;
  width: 40%;
  cursor: pointer;
  background-color: #00478a;
  border: 0px;
  border-radius: 2px;
  color: #fff;
  box-shadow: 0px 1px 1px #bbb;
}
#profile form p1 {
  text-align: left;
}
#profile img {
  height: 70%;
  margin: -1em 1em -0.5em -0.5em;
}
#delacc, 
#deleteForm input[type='button'] {
  margin-bottom: 2.5em !important;
}
#deleteForm input[type='button'] {
  background-color: #A32003;
}
#delacc:hover {
  background-color: #A32003 !important;
}
#deleteForm input[type='button']:hover {
  background-color: #CF0A04;
}
#changePassForm, 
#deleteForm {
  display: none;
}
#changePassForm {
  margin-top: -2em;
}
#deleteForm {
  margin-top: -0.5em;
}
#closeChangePass, 
#closeDeleteAcc {
  font-size: 1.5em;
  margin-right: 2em;
  margin-top: 0em;
  float: right;
  cursor: pointer;
  color: #444;
}
#closeChangePass:hover, 
#closeDeleteAcc:hover {
  color: #00478a;
}
#passchanged,
#accdeleted {
  width: 95%;
  max-width: 500px;
  margin: 6em auto;
  background-color: #fff;
  padding: 3.5em 3em;
  border-radius: 2px;
  box-shadow: 0px 1px 2px #bbb;
  display: none;
}
#psOKbtn,
#adOKbtn {
  font-size: 0.8em;
  height: 2.2em;
  margin-top: 3em;
  margin-bottom: 1em;
  width: 50%;
  cursor: pointer;
  background-color: #00478a;
  border: 0px;
  border-radius: 2px;
  color: #fff;
  box-shadow: 0px 1px 1px #bbb;
}
#delNoteYes:hover {
  background-color: #A32003;
}
#about {
  cursor: pointer;
  margin: 1.5em auto -2em auto;
  font-size: 0.9em;
  font-family: sans-serif;
  color: #00478a;
  text-decoration: underline;
}
#about:hover {
  color: #000;
}